html, body, header, section,
div, textarea, span, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    font-size: 16px;
}

header {
    display: flex;
    height: 48px;
    background-color: #205081;
    border-bottom: 1px solid #2e3d54;
    align-items: center;
}

header .logo {
    padding: 8px;
    font-size: 24px;
    color: white;
}

main {
    display: flex;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
}

section {
    flex: 1;
    padding: 16px;
}

input {
    display: block;
    margin-bottom: 8px;
}

.chat-container {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.json-container {
    border-right: 1px solid #ccc;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    height: 32px;
    padding: 8px;
    box-sizing: border-box;
}

textarea:focus {
    height: 64px;
}

textarea.dirty {
    height: 64px;
}

input[type="submit"] {
    height: 32px;
    width: 100px;
    float: right;
    background-color: #bbb;
    text-align: center;
    border-radius: 10px;
}

input[type="submit"]:hover {
    background-color: #777;
    color: white;
}

input[type="submit"]:focus {
    outline: 0;
}
